---

---

<section class="flex flex-col gap-10">
    <div class="font-bold text-xl lg:text-2xl font-mono">
        <h1>educations/experiences</h1>
    </div>
    <div class="font-mono">soon</div>
</section>
