---
import Contact from "../ui/Contact.astro";
---

<footer class="flex lg:justify-between text-xs lg:text-sm font-mono pt-10">
    <p>created by rid</p>
    <div>
        <Contact url="https://github.com/rid333" username="rid333" />
        <Contact url="https://github.com/rid333" username="sagman" />
        <Contact url="https://github.com/rid333" username="sagman" />
        <Contact
            url="https://github.com/rid333"
            username="alridho2003@gmail.com"
        />
    </div>
</footer>
